*,
*:after, /*последним дочерним элементом*/
*:before { /*первым дочерним элементом*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*учитывать любые границы и отступы в значениях*/
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;/*межстрочный отступ*/
  color: #333;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}
/*Container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*Intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;/*100% экрана посетителя*/
  background: url(img/intro.jpg) center no-repeat ; /*по центру и не повторялось*/
  background-size: cover; /*занимает все пространство*/

}

.intro__title {
  font-size: 150px;
  font-weight: 700px;/*жирность текста*/
  text-transform: uppercase;/*все заглавные буквы*/
  text-align: center;
  line-height: 1;

}

.intro__title:after {/*после элемента intro__title встовляем псево элемент*/
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto 60px; 

  background-color: #fff;
  

}

.intro__suptitle {
  margin-bottom: 15px;
  font-size: 72px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  
}

.intro__iner {
  color: #fff;
  width: 100%;
  max-width: 880;
  margin: 0 auto;

  text-align: center;
}

/*Header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 30px;
  width: 100%;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.header__intr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Nav*/
.nav {
  font-size: 14px;
  text-transform: uppercase;/*текст заглавные буквы*/

}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;

  position: relative;/*относительно родтеля появиться полоска*/
  color: #fff;
  text-decoration: none; /*убрали подчеркивание*/
  transition: color .2s linear;/*переход цвета ссылки 2с плавно*/
}

.nav__link:after {/*создали полоску под тестом*/
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  
  background-color: #e4d82e;
  opacity: 0;/*непрозрачность*/

  position: absolute;/*относительно радител relative*/
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;

}

.nav__link:hover {
  color: #e4d82e;

}
.nav__link:hover:after {
  opacity: 1;/*не прозрачность*/
}

/*button*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 5px 45px;

  border: 2px solid #fff;

  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: background .1s linear, color .1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/*slider*/
.slider {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;

  border-top: 3px solid #fff;
  opacity: .7;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase; /*весь текст заглавны буквы*/
}

.slider__item.active {
  opacity: 1; /*непрозрачность*/
}

.slider__item.active:before {/*полосочка над текстом декоротивная*/
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider__num {/*размер номара и жирность*/
  font-size: 24px;
  font-weight: 700;
}

/*Section*/

.section {
  padding: 80px 0;
}

.section--devices { /*модификатор*/
  padding-bottom: 0;
  margin-bottom: 40px;
  background: url("img/devices-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--gray{
  background-color: #f8f8f8;
}

.section--clients {
  background: url("img/devices-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--map {
  padding: 40px;
  background: url("img/map-bg.jpg") no-repeat center;
  background-size: cover;
}

.section__Heder {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
  }

  .section__suptitle {
    font-family: 'Kaushan Script', cursive;
    color: #333;
  }
  
  .section__title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }

  .section__title:after { /* создали полоску после элемента section__title*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #d73333;

  }

  .section__text {
    font-size:  15px;
    color: #999;

  }

  /*About*/
  .about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

.about__item {
    width: 380px;
    
    
  }

.about__inner {
  background-color: #95e1d3;
  position: relative;
}

.about__inner:hover .about__img {
  transform: translate3d(-10px, -10px, 0);
  }

.about__inner:hover .about__img img {/*при наводи мышкой*/
  opacity: .1; /*не прозрачность*/
}

.about__inner:hover .about__text {
  opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #f38181,#fce38a); /* градиент сверху вниз*/
    transition: transform .2s linear;/*плавный переход*/
  }

.about__img img {
    display: block;
    transition: opacity .1s linear;
  }

.about__text {
  width: 100%;

  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity .1s linear;
}


.about__info {
  margin-top: 20px;

  text-align: center;
}

.about__name {
  margin-bottom: 5px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.about__prof {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}


/*Statistisc*/
.statistisc {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 20px;

  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */
.services {
  display: flex;
}

.services__item {
  flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
}

.services__ikon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}

.services__itle {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-style: 14px;
  color: #333;
}

.services__text {
  font-size: 15px;
  color: #999;

}

/* Devices */
.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.deveces__item{
  display: block;
}
.deveces__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

/* Wedo */
.wedo {
  display: flex;
}
.wedo__item {
  width: 50%;
}


/*Accordion*/
.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__heder {
  border-bottom-color: #e5e5e5;
}


.accordion__item.active .accordion__heder:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
  
}

.accordion__heder {
  padding: 15px 20px 15px 65px;
  position: relative;

  border: 1px solid transparent; /*порзрачный*/
  cursor: pointer; /*курсор стал рукой*/
}

.accordion__heder:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg); /*стелочку повернули на 45 градусов и разместили по центру*/
}

.arccodion__icon {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);
}

.accordion__content {
  padding: 15px 20px;
  display: none;
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/*Reviews*/
.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 255px;
  position: relative;
}

.reviews__photo {
  border: 2px solid #638d4e;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.reviews__text {
  margin-bottom: 15px;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  color: #999;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  color: #333;
  font-size: 24px;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #d73636;
}

.reviews__btn {
  font-size: 0;/*скрыли текст у ссылки*/
  color: transparent;

  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
  margin: 50px;
}

.reviews__btn--next {
  right: 0;
  transform: rotate(135deg);
  margin: 50px;
}

/* Social */
.social {
  display: flex;
  justify-content: center;
}

.social__item { /*параметры иконки*/
  width: 55px;
  height: 55px;
  padding: 12px 10px;

  background-color: #fce38a;
  border: 1px solid #f38181;

  font-size: 30px;
  text-decoration: none;
  color: #f38181;
  line-height: 1;

  transition: background 1s linear, color 1s linear;/*плавное изменения при наводе*/
}

.social__item:last-child { /*для последнего элемента,являющийся последним в его родителе*/
  border-right: 0;
}

.social__item:hover { /*при наведении на иконку*/
  color: #fff;
  background-color: #f38181;
}

/* logos */
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*works*/
.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #f38181,#fce38a); /* градиент сверху вниз*/
  transition: transform .2s linear;
}

.works__item:hover .works__imge {
  opacity: 0.1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__imge {
  display: block; /*убрали отступы укартинки*/
  transition: opacity .2s linear;

  max-width: 100%; /*картинки адаптивные ушел скрол*/
  height: auto;
  
}

.works__info {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translateY(-50%);
  transition: opacity .5s linear;
}

.works__title {
  margin-bottom: 5px;
  font-style: 14px;
  text-transform: uppercase;
}

.works__text {
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

/* clients */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.clients__itrm{
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

.clients__photo {
  width: 110px;
  height: 110px;

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;

}

.clients__prof {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.clients__prof {
  font-size: 15px;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.clients__text {
  font-size: 15px;
  color: #999;
}

.clients__text:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 20px 0;

  background-color: #d73333;
}

/* Blog */
.blog {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  width: 32%;
  
}

.blog__header {
  position: relative;
  margin-bottom: 10px;
}

.blog__photo {
  display: block;
  max-height: 100%;
  height: auto;
}

.blog__date {
  padding: 10px 20px;

  background-color: #95e1d3;
  font-size: 15px;
  font-weight: 300;
  text-align: center; /*текст по центру*/

  color: #fff;
  font-style: italic;

  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;
}

.blog__date--day {
  font-size: 30px;
  line-height: 1;/*межстрочный оступ*/
  font-weight: 700;
  font-style: normal;
}

.blig__content {
  margin-bottom: 10px;
}

.blog__title {
  margin-bottom: 14px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.blog__title a {
  color: inherit; /*Наследование значения родительского элемента чтоб ушло подчеркивание и цвет ссылки*/
  text-decoration: none;
}
.blog__title a:hover {
  text-decoration: underline;
}

.blog__footer {
  padding-top: 14px;
  border-top: 1px solid #e5e5e5;

  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999;
}

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.blog-stat__item i {
  color: #95e1d3;
  margin: 5px;
}

.map {
  text-align: center;

}

.map__title {
  font-size: 24px;
  color: #d73636;
  font-weight: bold;
  text-transform: uppercase;
}

.map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 0;

  background-color: #f38181;
}

.map__title a {
  color: inherit;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}


/* Footer */
.footer {
  margin-top: 65px;

  background-color: #f8f8f8;
}

.footer__iner {
  padding-bottom: 65px;
}

.footer__logo {
  margin-bottom: 30px;

  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}
.footer__text {
  margin-bottom: 30px;

  font-size: 15px;
  color: #999;
}

.footer__social {
  margin-bottom: 25px;
}

.footer__social--header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.footer__social--header b {
  font-size: 18px;
}

.footer__social--content {
  padding-top: 15px;

  font-size: 15px;
  color: #999;
  font-weight: 300;
  font-style: italic;
}

.footer__social--content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-style: 15px;
  color: #95e1d3;
}


/* Subscride */
.subscride {
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscride__input {
  width: 60%;
  padding: 10px 30px;

  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.subscride__input:focus {
  outline: 0;
  border-color: #95e1d3;
}

.subscride__input::placeholder {
  color: #ccc;
}

.subscride__btn {
  width: 40%;
  padding: 5px;
  height: 40px;

  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;

  transition: background .2s linear;/* плавное изменение фона (linear линейная функция)*/
}

.subscride__btn:hover {
  background-color: #6eb3a6;
}

.subscride__btn:focus {
  outline: 0; /* убрали обводку, устанавливает большинство свойств обводки в одном объявлении.*/
}


